*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(237, 117, 117, 0.884);
    display: flex;
    align-items: center;
    justify-content: center;

}


 .invoice-content{
    width: 80%;
    background-color:#fff;

}


.invoice-content-head-top{
   padding: 20px;
    background-color: #d64208;
    position: relative;
}


.invoice-content-head-top::after{
    content:"";
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;  
    border-bottom: 50px solid  #d64208;
    right: -32px;
    top: 30px;
    transform: rotate(45deg);
 }

.invoice-content-head-info{
    margin-top: 30px;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    place-items: center;
    gap: 50px;
}

.invoice-content-head-info-brandName,.invoice-content-head-info-invoiceInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px
}

.invoice-content-head-info-payment > div > div,.invoice-content-head-info-invoiceInfo > div > div{
    margin-bottom: 5px;
}
.invoice-content-head-info-brandName-logo{
    width: 50px;
    height: 50px;
    border: 10px solid black;
    position: relative;
}

.invoice-content-head-info-brandName-logo::after{
   content: "";
   position: absolute;
   width: 20px;
   height: 20px;
   background-color: #fff;
   top:-10px ;
   left: -10px;

}

.invoice-content-head-info-brandName-heading,.invoice-content-head-info-payment-heading,
.invoice-content-head-info-companyName-heading,.invoice-content-head-info-invoiceInfo-heading{
    color: #d64208;
}

.invoice-content-head-info-brandName-text{
  letter-spacing: 2px;
}

.invoice-content-head-info-invoiceInfo-heading{
    font-size: 2rem;
    letter-spacing: 2px;
    color: #d64208 ;
}

.invoice-content-head-info-invoiceInfo-invoiceNo span {
    padding-left: 4px;

}

.invoice-content-head-info-invoiceInfo-Date span{
    padding-left: 46px;
}

.invoice-content-head-info-invoiceInfo-Due-Date span{
    padding-left: 16px;

}


.invoice-content-head-info-payment-invoiceNo span {
    padding-left: 35px;
}

.invoice-content-head-info-payment-Date span {
    padding-left: 22px;

}

.invoice-content-body{
    text-align: center;
  
  
}




table { 
	width:80%; 
	border-collapse: collapse; 
	margin:50px auto 0 auto;

	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

tr:nth-of-type(even) { 
    background: #e8cfcf; 
}
th { 
	background: #d64208; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	text-align: left; 
	font-size: 18px;
	}

  table tfoot .hidden{
    visibility: hidden;
  }
table tfoot tr .Subtotal , table tfoot tr .Subtotal ~ td{
    background: #e8cfcf; 

}

table tfoot tr .total,table tfoot tr .total ~ td{
    padding:20px ;
    background-color: #d64208;
    color:#fff;
}
.greatful{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    position: relative;
    margin-bottom: 100px;

   
}
.greatful div:first-child{
    width: 40%;
    /* text-align: center; */
}

.greatful .greatful-heading{
    position: absolute;
    top:-100px;
    font-size: 2rem;
    color:#d64208;
}
.greatful .terms-conditions h2{
    color:#d64208;
    margin-bottom: 20px;
   
}

.greatful .signature{
   width: 30%;
   text-align: center;
   font-size: 1.5rem;

   
}


.invoice-content-bottom{
    padding: 20px;
    background-color:#d64208 ;
    margin-top: 30px;
    position: relative;
}

.invoice-content-bottom::after{
   content:"";
   position: absolute;
   width: 0; 
   height: 0; 
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
    transform: rotate(45deg); 
   border-top: 50px solid #d64208;
   left: -32px;
   bottom: 30px;
}






@media(max-width:768px){


.invoice-content-head-info{
    
    grid-template-columns: 1fr;
}



table { 
    width:100%; 
    border-collapse: collapse; 
    margin:50px auto 0 auto;
    }

.invoice-content-head-info{
    grid-template-columns: 1fr ;
}


    table { 
    width:50%; 
    
    }

table td, th { 
    padding: 8px; 
    font-size: 15px;
    }

    table tfoot tr .total,table tfoot tr .total ~ td{
        padding:10px ;
        
    }

    .greatful .greatful-heading{
    position: static;
    font-size: 1.5rem;
    
}

    
  .greatful{
    flex-direction: column;
  }

  .greatful div:first-child{
    width: 80%;
}
    .greatful .terms-conditions{
      
        margin-top: 50px;
       
    }

    .greatful .signature{
        margin-top: 70px;
     
        
     }  
}



@media(max-width:465px){
    table { 
        width:10%; 
        
        }

    table td, th { 
        padding: 5px; 
        font-size: 10px;
        }

    table tfoot tr .total,table tfoot tr .total ~ td{
        padding:8px ;
        
    }
}
